body {
  margin:0;
}
h1 {
  border-bottom:1px solid gray;
  margin:0;
  padding:20px;
  text-align: center;
}
#grid {
  display: grid;
  grid-template-columns: 580px 1fr;
}
#lyrics {
  padding-left:15px;
  border-left: 1px solid gray;
}
@media(max-width:750px) {
    #grid {
      display: block;
    }
    #lyrics {
      padding-top:20px;
      padding-left:130px;
      border-left: none;
    }
    h1 {
      border-bottom: none;
    }
}
